<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @title %></title>
    <%= stylesheet_link_tag 'user.css' %>
</head>

<body>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>
  	
  <%= yield %>

</body>
  
</html>