<!DOCTYPE html>
<html>
	
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag 'gallery.css' %>
  <%= javascript_include_tag 'slider.js' %>
  <%= javascript_include_tag 'load.js' %>
  <!-- %= javascript_include_tag 'demoslider.js' % -->
  <%= csrf_meta_tags %>
</head>

<body>

<div class="nph_area">

<div id="gallery" class="nph_gallery clearfix">
	<div class="nph_bg">
		<div class="nph_photo" id="modePhoto">
			<div class="nph_photo_view">
				<div id="photoView" class="nph_cnt">
					<i></i><img src="/images/80LDC1B543UD0031.jpg" id="photo">
					<i></i><img src="/images/80LDC1B543UD0031.jpg" id="photo2">
					
				</div>
				<!-- div class="nph_photo_prev">
					<a id="photoPrev" class="nph_btn_pphoto" target="_self" hidefocus="true" href="http://www.jsfoot.com/js/demo/2012-05-06/591.html#p=7DOBC5MA00AO0001"></a>
				</div -->
				<!-- div class="nph_photo_next">
					<a id="photoNext" class="nph_btn_nphoto" target="_self" hidefocus="true" href="http://www.jsfoot.com/js/demo/2012-05-06/591.html#p=7DOBC21A00AO0001"></a>
				</div -->
			</div>
			<!--nph_photo_view end-->
			
			<div class="nph_cnt">
				<div class="nph_cnt clearfix">
					<div class="nph_set_info">
						<div id="setInfo">
							<div class="nph_set_title">
								<span id="photoType" class="nph_set_cur">[<span class="nph_c_lh" id="photoIndex">7</span>/10]</span>
								<h1>Demo Show</h1>
							</div>
						</div>
					</div>
				</div>
				
				<div id="photoDesc" class="nph_photo_desc">
					<p>Demo Picture</p>
				</div>
			</div><!--nph_cnt end-->
			
			<div class="nph_cnt">
				<div class="clearfix">
					<div class="nph_set">
						<div class="nph_set_thumb">
							<div id="scrl" class="nph_photo_thumb clearfix" style="width:589px;">
								<div class="clearfix">
									<div class="nph_scrl">
										<div class="nph_scrl_thumb">
											<div class="nph_scrl_main" id="nph_scrl_main">
												<ul id="thumb" class="nph_list_thumb clearfix" style="width:1810px;"> <!-- width = n*100 + 110 -->
<li class="nph_list_active">
<a href="javascript:aa('/images/80LDC11R43UD0031.jpg')" hidefocus="true"><img src="/images/s_80LDC1RI43UD0031.jpg" alt="Pic 1"></a>
<p>Pic 1</p>
<i title="img">/images/80LDC1RI43UD0031.jpg</i>
<i title="timg">/images/t_80LDC1RI43UD0031.jpg</i>
</li>
<li class="">
<a href="/upload/result#p=80LDBVG943UD0031" hidefocus="true"><img src="/images/s_80LDBVG943UD0031.jpg" alt="Pic 2"></a>
<p>Pic 2</p>
<i title="img">/images/80LDBVG943UD0031.jpg</i>
<i title="timg">/images/t_80LDBVG943UD0031.jpg</i>
</li>
<li class="">
<a href="/upload/result#p=80LDC4EG43UD0031" hidefocus="true"><img src="/images/s_80LDC4EG43UD0031.jpg" alt="Pic 3"></a>
<p>Pic 3</p>
<i title="img">/images/80LDC4EG43UD0031.jpg</i>
<i title="timg">/images/t_80LDC4EG43UD0031.jpg</i>
</li>

												</ul>
											</div>
											
											<div class="nph_scrl_bar clearfix">
												<span class="nph_scrl_lt"></span>
												<span class="nph_scrl_rt"></span>
												<div class="nph_scrl_bd">
													<div class="nph_scrl_ct" id="nph_scrl_ct" tabindex="-1" style="outline: none; ">
														<a id="bar" class="nph_btn_scrl" style="cursor: move; left: 487px; ">
															<b class="nph_btn_lt"></b>
															<b class="nph_btn_rt"></b>
															<span class="nph_btn_bd"><span><b class="nph_btn_ct"></b></span></span>
														</a>
													</div>
												</div>
											</div>
											
										</div>
									</div>
									
									<span class="nph_scrl_prev"><a id="scrlPrev" class="nph_btn_pscrl" hidefocus="true" href="javascript:void(0)"></a></span>
									<span class="nph_scrl_next"><a id="scrlNext" class="nph_btn_nscrl" hidefocus="true" href="javascript:void(0)"></a></span>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- The 2nd slider show-->
			
			<div class="nph_cnt">
				<div class="nph_cnt clearfix">
					<div class="nph_set_info">
						<div id="setInfo2">
							<div class="nph_set_title">
								<span id="photoType2" class="nph_set_cur">[<span class="nph_c_lh" id="photoIndex2">7</span>/10]</span>
								<h1>Demo Show 2</h1>
							</div>
						</div>
					</div>
				</div>
				
				<div id="photoDesc2" class="nph_photo_desc">
					<p>Demo Picture</p>
				</div>
			</div><!--nph_cnt end-->
			
			<div class="nph_cnt">
				<div class="clearfix">
					<div class="nph_set">
						<div class="nph_set_thumb">
							<div id="scrl2" class="nph_photo_thumb clearfix" style="width:589px;">
								<div class="clearfix">
									<div class="nph_scrl">
										<div class="nph_scrl_thumb">
											<div class="nph_scrl_main" id="nph_scrl_main2">
												<ul id="thumb2" class="nph_list_thumb clearfix" style="width:1810px;"> <!-- width = n*100 + 110 -->
<li class="nph_list_active">
<a href="/upload/result#p=80LDC11R43UD0031" hidefocus="true"><img src="/images/s_80LDC11R43UD0031.jpg" alt="Pic 4"></a>
<p>Pic 4</p>
<i title="img">/images/80LDC11R43UD0031.jpg</i>
<i title="timg">/images/t_80LDC11R43UD0031.jpg</i>
</li>
<li class="">
<a href="/upload/result#p=80LDBVOE43UD0031" hidefocus="true"><img src="/images/s_80LDBVOE43UD0031.jpg" alt="Pic 5"></a>
<p>Pic 5</p>
<i title="img">/images/80LDBVOE43UD0031.jpg</i>
<i title="timg">/images/t_80LDBVOE43UD0031.jpg</i>
</li>
<li class="">
<a href="/upload/result#p=80LDC0BE43UD0031" hidefocus="true"><img src="/images/s_80LDC0BE43UD0031.jpg" alt="Pic 6"></a>
<p>Pic 6</p>
<i title="img">/images/80LDC0BE43UD0031.jpg</i>
<i title="timg">/images/t_80LDC0BE43UD0031.jpg</i>
</li>

												</ul>
											</div>
											
											<div class="nph_scrl_bar clearfix">
												<span class="nph_scrl_lt"></span>
												<span class="nph_scrl_rt"></span>
												<div class="nph_scrl_bd">
													<div class="nph_scrl_ct" id="nph_scrl_ct2" tabindex="-1" style="outline: none; ">
														<a id="bar2" class="nph_btn_scrl" style="cursor: move; left: 487px; ">
															<b class="nph_btn_lt"></b>
															<b class="nph_btn_rt"></b>
															<span class="nph_btn_bd"><span><b class="nph_btn_ct"></b></span></span>
														</a>
													</div>
												</div>
											</div>
											
										</div>
									</div>
									
									<span class="nph_scrl_prev"><a id="scrlPrev2" class="nph_btn_pscrl" hidefocus="true" href="javascript:void(0)"></a></span>
									<span class="nph_scrl_next"><a id="scrlNext2" class="nph_btn_nscrl" hidefocus="true" href="javascript:void(0)"></a></span>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div><!--gallery end-->

</div>

<script type="text/javascript">
var slider = new Slider({
	icontainer : "nph_scrl_ct",
	idrag : "bar",
	plusBtn : "scrlPrev",
	reduceBtn : "scrlNext",
	panel : "thumb",
	content : "nph_scrl_main",	
	direction : "left",
	acceleration : 5,
	sliderAcc : 1		
});

var ul = $.get("nph_scrl_main"),
	realUl = $.get("thumb"),
	list = realUl.getElementsByTagName("li"),
	len = list.length,
	intervalD = Math.ceil( ul.scrollWidth / len ),
	intervalS = Math.ceil( slider.Max.left / len ),
	index = 1,
	photoPrev = $.get("photoPrev"),
	photoNext = $.get("photoNext"),
	photo = $.get("photo"),
	photoIndex = $.get("photoIndex"),
	photoDesc = $.get("photoDesc").getElementsByTagName("p")[0];

function removeClass(){
	$.each(list, function(o, i){
		o.className = "";
	});
}

function Go(i, o){
	index = i;
	var _distance = 0;
	if(i > 2){
		slider.content.scrollLeft = intervalD * (i - 2);		
	}else{
		slider.content.scrollLeft = 0;
	}
	_distance = intervalS * i;
	if(i === len - 1){
		_distance = intervalS * (i + 1);
	}
	slider.idrag.style.left = Math.min(Math.max(_distance , 0),slider.Max.left)  + "px"
	removeClass();
	o.className = "nph_list_active";
	photo.src = o.getElementsByTagName("i")[0].innerHTML;
	photoDesc.innerHTML = o.getElementsByTagName("p")[0].innerHTML;
	photoIndex.innerHTML = i + 1;
}

Go(0, list[0]);
	
$.each(list, function(o, i){
	$.addEvent(o, function(){
		Go(i, o);		
	},"click");
});

$.addEvent(photoNext, function(){
	index++;
	if(index >= len){
		index = len - 1;
		return;
	}
	Go(index, list[index]);
	
},"click");

$.addEvent(photoPrev, function(){
	index--;
	if(index < 0 ){
		index = 0;
		return;
	}
	Go(index, list[index]);
	
},"click");
</script>

<!-- For the 2nd slider-->
<script type="text/javascript">
var slider2 = new Slider({
	icontainer : "nph_scrl_ct2",
	idrag : "bar2",
	plusBtn : "scrlPrev2",
	reduceBtn : "scrlNext2",
	panel : "thumb2",
	content : "nph_scrl_main2",	
	direction : "left",
	acceleration : 5,
	sliderAcc : 1		
});

var ul2 = $.get("nph_scrl_main2"),
	realUl2 = $.get("thumb2"),
	list2 = realUl2.getElementsByTagName("li"),
	len2 = list2.length,
	intervalD2 = Math.ceil( ul2.scrollWidth / len2 ),
	intervalS2 = Math.ceil( slider2.Max.left / len2 ),
	index2 = 1,
	photoPrev2 = $.get("photoPrev2"),
	photoNext2 = $.get("photoNext2"),
	photo2 = $.get("photo2"),
	photoIndex2 = $.get("photoIndex2"),
	photoDesc2 = $.get("photoDesc2").getElementsByTagName("p")[0];

function removeClass2(){
	$.each(list2, function(o, i){
		o.className = "";
	});
}

function Go2(i, o){
	index2 = i;
	var _distance = 0;
	if(i > 2){
		slider2.content.scrollLeft = intervalD2 * (i - 2);		
	}else{
		slider2.content.scrollLeft = 0;
	}
	_distance = intervalS2 * i;
	if(i === len2 - 1){
		_distance = intervalS2 * (i + 1);
	}
	slider2.idrag.style.left = Math.min(Math.max(_distance , 0),slider2.Max.left)  + "px"
	removeClass2();
	o.className = "nph_list_active";
	photo2.src = o.getElementsByTagName("i")[0].innerHTML;
	photoDesc2.innerHTML = o.getElementsByTagName("p")[0].innerHTML;
	photoIndex2.innerHTML = i + 1;
}

Go2(0, list2[0]);
	
$.each(list2, function(o, i){
	$.addEvent(o, function(){
		Go2(i, o);		
	},"click");
});

$.addEvent(photoNext2, function(){
	index2++;
	if(index2 >= len2){
		index2 = len2 - 1;
		return;
	}
	Go2(index2, list2[index2]);
	
},"click");

$.addEvent(photoPrev2, function(){
	index2--;
	if(index2 < 0 ){
		index2 = 0;
		return;
	}
	Go2(index2, list2[index2]);
	
},"click");
</script>

<%= yield %>

</body>
</html>
