<div class="content">

<div class="picshow">
<p align="left">
  <%= image_tag @top.photo.url(:original) %>
</p>
</div>
<div class="description">
<p>
  <b> &nbsp;Name: </b><%= @top.name %>
 </p>
 
<p>
  <b> &nbsp;Price: </b><%= @top.price %>
</p>

<p>
  <b> &nbsp;Material: </b><%= @top.material %>
</p>

<p>
  <b> &nbsp;Brand: </b><%= @top.brand %>
</p>

<p>
  <b> &nbsp;Color: </b><%= @top.color %>
</p>

<p>
  <b> &nbsp;Size: </b><%= @top.size %>
</p>

<p>
  <b> &nbsp;Detail: </b><%= @top.description %>
</p>
</div>

</div>
