<div class="content">

<div class="picshow">
<p align="left">
  <%= image_tag @bottom.photo.url(:original) %>
</p>
</div>
<div class="description">
<p>
  <b> &nbsp;Name: </b><%= @bottom.name %>
 </p>
 
<p>
  <b> &nbsp;Price: </b><%= @bottom.price %>
</p>

<p>
  <b> &nbsp;Material: </b><%= @bottom.material %>
</p>

<p>
  <b> &nbsp;Brand: </b><%= @bottom.brand %>
</p>

<p>
  <b> &nbsp;Color: </b><%= @bottom.color %>
</p>

<p>
  <b> &nbsp;Size: </b><%= @bottom.size %>
</p>

<p>
  <b> &nbsp;Detail: </b><%= @bottom.description %>
</p>
</div>

</div>
