<h3> About the new article</h3>
<br />
<%= form_for(@hat,:url=>{:action=>'update'}) do |f| %>
  
  <!-- The most important field: ID-->
  <%= f.hidden_field :id %>
            
  <p>Name&nbsp;<%= f.text_field :name %></p>
    
  <p>Price&nbsp;&nbsp;<%= f.text_field :price %></p>
  
  <p>Size&nbsp;&nbsp;&nbsp;<%= f.text_field :size %></p>
  
  <p>Mater&nbsp;<%= f.text_field :material %></p>
  
  <p>Color&nbsp;&nbsp;<%= f.text_field :color %></p>
  
  <p>Brand&nbsp;<%= f.text_field :brand %></p>
  
  <!-- p>Image<%= f.file_field :image_url %></p -->
  
  <img src="<%= @hat.image_url %>" align=left />
  
  <p>Detail&nbsp;<%= f.text_field :description %></p>
  
  <p><%= f.submit "Update" %></p>
  
<% end %>