
<p>
  <img src="<%= @hat.image_url %>" align=left />
</p>

<p>
  <b> &nbsp;Name: </b><%= @hat.name %>
 </p>
 
<p>
  <b> &nbsp;Price: </b><%= @hat.price %>
</p>

<p>
  <b> &nbsp;Material: </b><%= @hat.material %>
</p>

<p>
  <b> &nbsp;Brand: </b><%= @hat.brand %>
</p>

<p>
  <b> &nbsp;Color: </b><%= @hat.color %>
</p>

<p>
  <b> &nbsp;Size: </b><%= @hat.size %>
</p>

<p>
  <b> &nbsp;Detail: </b><%= @hat.description %>
</p>


