<div class="content">

<div class="picshow">
<p align="left">
  <!-- img src="<%= @hat.image_url %>" align=left / -->
  <%= image_tag @hat.photo.url(:original) %>
</p>
</div>
<div class="description">
<p>
  <b> &nbsp;Name: </b><%= @hat.name %>
 </p>
 
<p>
  <b> &nbsp;Price: </b><%= @hat.price %>
</p>

<p>
  <b> &nbsp;Material: </b><%= @hat.material %>
</p>

<p>
  <b> &nbsp;Brand: </b><%= @hat.brand %>
</p>

<p>
  <b> &nbsp;Color: </b><%= @hat.color %>
</p>

<p>
  <b> &nbsp;Size: </b><%= @hat.size %>
</p>

<p>
  <b> &nbsp;Detail: </b><%= @hat.description %>
</p>
</div>

</div>

<div class="label">
    <label style="padding-left: 5px">
    	<% if @idPrevEntry[0].eql?("-1") %>
 	<a href="#">
 		<% else %>
 	<a href="/yiku/hat/view&<%= @idPrevEntry[0] %>, <%= @idPrevEntry[1] %>">
 		<% end %>	
 		<b>Previous</b>
 	</a>
   </label>
   <label style="float: right; padding-right: 5px">
 	<% if @idNextEntry[0].eql?("-1") %>
 	<a href="#">
 		<% else %>
 	<a href="/yiku/hat/view&<%= @idNextEntry[0] %>, <%= @idNextEntry[1] %>">
 		<% end %>	
 		<b>Next</b>
 	</a>
   </label>
</div>
