
<h3> About the new article</h3>
<br />
<!-- %= form_for :product, :html => { :multipart=>true } do |f| % -->
<%= form_for(@product, :url=>{:action=>'create'}, :multipart=>true) do |f| %>

  <p>Name&nbsp;<%= f.text_field :name %></p>
    
  <p>
  	<%= f.label :photo, "Photo" %>    
      <%= f.file_field :photo %> 
  </p>
  
  <p><%= f.submit "Create" %></p>
  
<% end %>