<div class="content">

<h3>Article List</h3>

<br/>

 <% if @suits.empty? %>

   <p>no suit yet</p>
 
 <% else %>
   <ul>
   	<% i=0 %>
    <% for suit in @suits %>     
      <li>
      	
      	<span class="itemname">
      	<a href="/yiku/hat/view&<%= suit.id %>,<%= i %>">
      		<%= suit.name %>
      	</a>
      	</span> 
      	<a href="/yiku/hat/edit&<%= suit.id %>">
      		<label title="Edit" onmouseover="">Edit</label>
      	</a>
      	<span class="seprator">/</span> 
      	<a href="javascript:openwin('/yiku/hat/delete&<%= suit.id %>')">
      		<label title="Delete">Delete</label>
      	</a>
      	
      </li>
      
      <br/>
     <% i+=1 %>
    <% end %>
   </ul>
   
 <% end %>
 
<br/>

</div>

<div class="label">
    <label style="padding-left: 5px">
 	<a href="/yiku/gallery">
 		<b>Add New Article</b>
 	</a>
</label>
</div>
